.top-bar{
  position: absolute;
  right: 40px;
  top: 20px;

  .colored-image{
    cursor: pointer;
    color: #00A0AB;
    font-size: 50px;

    &:hover{
      transition: .3s;
      filter: brightness(0.6) sepia(0.2) hue-rotate(0deg);
    }

  }
}

/*
#A4A4A4*/
